*{
    padding: 0;
    margin: 0;
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
}

body{
    padding-left: 20vw;
    padding-right: 20vw;
    width: 60vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 160px 415px 197px 59px 256px 548px 264px 1227px 243px 492px 221px 250px;
    color: white;
}

.header{
    grid-row: 1/2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header_text_block{
    width: 30vw;
    display: flex;
    justify-content: space-between;

    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero_area{
    grid-row: 3/4;

    display: grid;
    grid-template-rows: 29px 10px 142px 40px 87px 50px 57px;
    grid-template-columns: 32vw 7vw 21vw;
}

.head_text{
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    text-transform: uppercase;
}

.big_text{
    grid-row: 3 / 4;
    grid-column: 1 / 2;

    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}

.main_text{
    grid-row: 5 / 6;
    grid-column: 1 / 2;

    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    width: 29vw;
}

.buttons{
    grid-row: 7 / 8;
    grid-column: 1 / 2;

    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* width: 408px; */
    width: 21vw;
    display: flex;
    justify-content: space-between;
}

.button{
    border-radius: 5px;
    background-color:#3A68B8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1{
    /* width: 171px; */
    width: 9vw;
}

.button2{
    /* width: 217px; */
    width: 11vw;
}

.hero_area_image{
    grid-row: 1 / 8;
    grid-column: 3 / 4;
    width: 21vw;
}

.logos{
    grid-row: 5/6;
}

.apply_ai{
    grid-row: 7/8;
}

.feature{
    grid-row: 9/10;
}

.about{
    grid-row: 11/12;
}

.footer{
    grid-row: 13/14;
}