*{
    margin-top: 0;
    margin-bottom: 0;
}

.header{
    max-width: 1200px;
    min-height: 120px;
    border: 1px solid #000; 
}

.content{
    display: flex;
    justify-content: center;
}

.item{
    width: 450px;
    height: 250px;
    border: 1px solid #000;
    overflow: scroll;
}