 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
  

a{
    text-decoration: none;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* первый по классу при наведении*/
.my_block:first-child:hover{
    background-color: azure;
}

/* последний по типу при нажимании*/
a:last-of-type:active{
    background-color: aquamarine;
    border-right: 1px solid orange;
    margin-right: 20px;
}

/* класс при нажимании */
.my_block:active{
    background-color: orange;
}


/* Добавляем контент после блока */
.my_block::after{
    content: "Привет";
}

/* Должно окрашивать часть после блока!!! не работает!!!! */
.my_block::after:active {
    background-color: rgb(255, 140, 0);
}

/* Добавляем контент после блока только при наведении*/
.my_block:hover::after{
    content: "<<<";
}

.my_block:hover::before{
    content: ">>>";
}

.my_block:hover .child{
    background-color: aquamarine;
}

.icon:hover path{
    fill: black;
}

.title{

}

.button{
    display: block;
    width: 190px;
    height: 40px;
    border: 1px solid purple;
    text-align: center;
    line-height: 40px;
    color: purple;
    font-size: 20px;
    margin-top: 16px;
    transition: all 2s;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

.button:hover{
    background-color: purple;
    color: white;
    width: 200px;
    height: 100px;
}

.drive{
    margin-top: 100px;
}

.drive:hover .car{
    margin-left: 1100px;
}

.car{
    width: 150px;
    height: 50px;
    border: 1px solid rgb(114, 0, 72);
    text-align: center;
    transition: margin 3s;
    margin-top: 20px;
}

.car-1{
    transition-timing-function: ease;
}

.car-2{
    transition-timing-function: ease-in;
}

.car-3{
    transition-timing-function: ease-out;
}

.car-4{
    transition-timing-function: ease-in-out;
}

.car-5{
    
}

.bord{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.bord_item{
    width: 250px;
    height: 200px;
    border: 1px solid purple;
    text-align: center;
    transition: transform 1s;
    
}


.bord_item-1:active{
    transform: translate(200px, -100px) scale(1.5);
}

.bord_item-2:active{
    transform: translate(0, -100px) scale(1.5);
}

.bord_item-3:active{
    transform: translate(-200px, -100px) scale(1.5);
}

.hock{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.hock_item{
    width: 150px;
    height: 86px;
    background-color: black;
    text-align: center;
    transition: transform 1s;
    position: relative;
    
}


.hock_item-1{
    transform: rotate(60deg);
    position: absolute;
}

.hock_item-2{
    position: absolute;
}

.hock_item-3{
    transform: rotate(-60deg);
    position: absolute;
}

.hock_item-1:hover{
    margin-left: 100px;
}

.hock_item-2:hover{
    margin-left: 100px;
}

.hock_item-3:hover{
    margin-left: 100px;
}

.skew{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.skew_item{
    width: 400px;
    height: 100px;
    background-color: black;
    text-align: center;
    transition: transform 1s;
}

.skew_item:hover{
    transform: skew(60deg);
}